// @function vs @mixins
// @function have @return and @mixins not

@function calc-fluid($target, $container) {
  $result: ($target / $container) * 100%;

  @return $result;
}

body {
  margin: 0;
  padding: 0;

  div {
    width: 1000;

    button {
      width: calc-fluid(400, 1000);
    }
  }
}

/*
  Utilities functions

  lighten(color, amount)
  darken(color, amount)
  quote(string) -> add quote
  unquote(string) -> remove quote
  to-upper-case(string)
  to-lower-case(string)
  str-length(string) -> string-length
  percentage(number) -> number * 100 = result%
  round(number)
  ceil(number) -> round to up
  floor(number) -> round to down

  and more...
*/
