body {
  margin: 0;
  padding: 0;

  .li {
    color: red;

    &:hover {
      color: blue;
    }
  }

  ul {
    li {
      @extend .li;
    }
  }

  button {
    color: yellow;

    &:hover {
      @extend .li, :hover;
    }
  }
}
