$tablet-width: 768px;
$desktop-width: 1024px;

%buttonStyle {
  display: block;

  margin: 0 auto;
  margin-top: 20px;

  color: white;
  background-color: red;
}

@mixin landscape {
  @extend %buttonStyle;

  @media screen and (orientation: landscape) {
    @content;
  }
}

@mixin tablet {
  @extend %buttonStyle;

  @media screen and (min-width: #{$tablet-width}) {
    @content;
  }
}

@mixin desktop {
  @extend %buttonStyle;

  @media screen and (min-width: #{$desktop-width}) {
    @content;
  }
}

body {
  margin: 0;
  padding: 0;

  div {
    button {
      border: none;

      @include landscape {
        padding: 16px;
      }

      @include tablet {
        padding: 24px;
      }

      @include desktop {
        padding: 32px;
      }
    }
  }
}
