$useMixins: false;

//@extend for %placeholders
//@include for @mixins
//use() for @function use() {}

@mixin center {
  display: block;
  margin: 10px auto;
}

%center {
  display: block;
  margin: 10px auto;
}

%usingIf {
  color: white;

  @if ($useMixins) {
    @include center;
    background-color: red;
  } @else {
    @extend %center;
    background-color: blue;
  }
}

%usingFor {
  @for $i from 1 through 3 {
    &.item-#{$i} {
      width: 100px * $i;
    }
  }
}

%usingWhile {
  $i: 1;

  @while $i <= 3 {
    &.item-#{$i} {
      height: 40px * $i;
    }

    $i: $i + 1;
  }
}

%usingEach {
  $colors: "red", "green", "blue"; //need have quote because is colors

  @each $color in $colors {
    &.#{$color} {
      background-color: unquote($color); //unquote to work
    }
  }
}

body {
  margin: 0;
  padding: 0;

  div {
    button {
      @extend %usingIf;

      border: none;
      padding: 16px;
    }

    ul li {
      @extend %usingFor;
      @extend %usingEach;
      @extend %usingWhile;

      height: 20px;
      margin-bottom: 2px;

      list-style-type: none;
    }
  }
}
