// %placeholders vs @mixins
// @mixins receive params but %placeholders don't
// if is the same style is better to use placeholders for best performance

@mixin center {
  display: block;
  margin: 0 auto;
}

%center {
  display: block;
  margin: 0 auto;
}

body {
  margin: 0;
  padding: 0;

  div {
    button {
      // change to @mixin center and look css compiled to see differences
      @extend %center;
    }
  }
}
